--title "Mammoth API Documentation"
--protected
--markup markdown

--readme docs/README.md

lib/**/*.rb

-

README.md
CHANGELOG.md
CODE_OF_CONDUCT.md
LICENSE.txt

docs/quick-start.md
docs/postgresql.md
docs/configuration.md
docs/cli.md
docs/operational-state.md
docs/examples.md
docs/helm.md
docs/troubleshooting.md