--title "Mammoth API Documentation"
--protected
--markup markdown

--readme docs/README.md

lib/**/*.rb

-

README.md
CHANGELOG.md
CODE_OF_CONDUCT.md
LICENSE.txt

docs/QUICK-START.md
docs/POSTGRESQL.md
docs/CONFIGURATION.md
docs/CLI.md
docs/BENCHMARKS.md
docs/OPERATIONAL-STATE.md
docs/OBSERVABILITY.md
docs/EXAMPLES.md
docs/HELM.md
docs/TROUBLESHOOTING.md